body{
	margin:0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
}
nav{
	background-color:#000000CF;
	height:80px;
	position:fixed;
	width:100%;
	top:0px;
	z-index:101;
}
nav a{
	opacity:1;
	text-decoration: none;
	padding:25px 10px 10px 10px;
	display:inline-block;
	font-weight:900px;
	color:#ffffff;
	
}
.navitems{
	font-size:20px;
	display:flex;
	flex-direction:row;
	justify-content:right;
}
.navhome, .navabout, .navteam, .navblog, .navtest, .navcontact{
	transition: 0.4s;
	color:#000000;
}
.navhome:hover {
	background-color:#FFD600;
	color:#000000;
	padding: 5px;
}
.navhome:hover a{
	color:#000000;
}
.navabout:hover{
	background-color:#FFD600;
	color:#000000;
	padding: 5px;
}
.navabout:hover a{
	color:#000000;
}
.navteam:hover{
	background-color:#FFD600;
	color:#000000;
	padding: 5px;
}
.navteam:hover a{
	color:#000000;
}
.navblog:hover{
	background-color:#FFD600;
	color:#000000;
	padding: 5px;
}
.navblog:hover a{
	color:#000000;
}
.navtest:hover{
	background-color:#FFD600;
	color:#000000;
	padding: 5px;
}
.navtest:hover a{
	color:#000000;
}
.navcontact:hover{
	background-color:#FFD600;
	color:#000000;
	padding: 5px;
}
.navcontact:hover a{
	color:#000000;
}

section{
	padding-top:80px;
	margin-top:-80px;
}
.yellow{
	color:#FFD600;
}
.pink{
	color:#FF00CE;
}
.pinkname{
	color:#FF0068;
}
.white{
	color:#fff;
}
.topnav{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	font-weight:bold;
}

.inner{
	width:1040px;
	margin:0px auto;
	
}
.studioname{
	color:#ffffff;
	font-size:35px;
	padding:20px;
	font-weight:900px;
}


#home{
	background:url(bg_one.jpg) center top;
	height:1030px;
}

.bold{
	color:#ffffff;
	font-size:80px;
	font-weight:900;
	margin:340px 0px 0px 0px;

}
.creative{
	color:#E755D1;
	font-size:80px;
	font-weight:900;
}
.different{
	color:#000000;
	background-color:#F0CE30;
	width:350px;
	font-size:80px;
	font-weight:900;
}
#about{
	background:url(bg_two.jpg) center top;
	height:1050px;
}

.aboutcontent{
	color:#ffffff;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	padding:100px 0px 0px 0px;
}
.columnl{
	display:flex;
	flex-direction:column;
	color:#ffffff;
	padding:30px 0px 0px 0px;
}
.columnr{
	background-color:#00000089;
	color:#F0CE30;
	display:flex;
	flex-direction:row;
	width:425px;
	margin:15px 0px 0px 25px;
	padding:0px 0px 40px 0px;
}


.abouttop{
	font-size:80px;
	color:#aaaaaa;
	font-weight:bold;
	line-height:1;
}
.aboutbottom{
	font-size:20px;
	margin:80px 0px 0px 0px;
	color:#aaaaaa;
	font-weight:bold;
	line-height:1.2;
}
.large{
	color:#fff;
	font-weight:bold;
	font-size:75px;
	font-weight:900;
}
.slightlylarger{
	font-weight:bold;
	font-size:25px;
	color:#fff;

}
.yellowline{
	color:#FFD600;
	font-weight:bold;
	font-size:100px;
}
.yellowlarge{
	font-size:27px;
	color:#F6D000;
	margin:50px 0px 10px 10px;
	font-weight:900;
	line-height:1;
}
.whitesmall{
	margin:0px 0px 0px 10px;
	color:#ffffff;
	font-size:16px;
}

.icons{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	padding:15px 0px 0px 30px;
}
.icon2{
	padding:15px 0px 0px 0px;
}
.icon3{
	padding:12px 0px 0px 0px;

}
.icon4{
	
}
.aboutthingsfull{
	display:flex;
	flex-direction:column;
}
#team{
	background:url(bg_three.jpg) center top;
	height:1240px;
}
.teamparent{
	display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:50px 0px 0px 0px;
}
.teamleft{
	display:flex;
	flex-direction:column;
	padding:0px 0px 0px 24px;

}
.row1{
	color:#fff;
	font-size:70px;
	font-weight:bold;
	line-height:1;

}
.ourteam{
	font-size:80px;
}
.row2, .row3{
	display:flex;
	flex-direction:row;
}
.teammember{
	display:flex;
	flex-direction:column;
	margin:100px 20px 0px 0px;
}
.teamright{
	display:flex;
	flex-direction:column;
	padding:0px 24px 0px 0px;
}
.teamname{
	margin:14px 0px 0px 0px;
	color:#fff;
	font-size:30px;
	font-weight:900px;
	font-weight:bold;
}
.teamrole{
	color:#FF00CE;
	font-size:20px;
}

.amos, .alana {
	height:500px;
	width:400px;
	position:relative;
}
.teammember:hover{
	 transform: scale(1.05);
}
.amos:hover, .alana:hover{
	transform: scale(1.05);
}


.titlebox1, .titlebox2{
	background-color:#FF00CE77;
	position:absolute;
	bottom:0px;
	height:70px;
	width:395px;
	z-index:100;
	padding:0px 0px 12px 10px;

}
.amos{
	margin:0px 0px 14px 0px;
}


#blog{
	background:url(bg_four.jpg) center top;
	height:1775px;

}
.blogparent{
	display:flex;
	flex-direction:column;
	padding:0px 0px 0px 16px;
}
.blogtop{
	color:#C1C1C1;
	font-size:80px;
	font-weight:bold;
	margin:70px 0px 70px 0px;
	line-height:1;
}
.blogtext{
	color:#ffffff;
	font-size:30px;
	margin:15px 0px 30px 0px;
	font-weight:900;
}
.blogpic{
	position:relative;
	z-index: 0;
}
.blogpictop{
	position:absolute;
	background-color:#000000CF;
	color:#FFD600;
	font-size:50px;
	font-weight:bold;
	z-index: 50;
	text-align: center;
	
}
.blog2 .blogpictop, .blog4 .blogpictop{
	bottom:0px;
	left:0px;
	border-radius: 0px 25px 0px 0px;
	padding:15px;
}

.blog1 .blogpictop, .blog3 .blogpictop{
	border-radius: 25px 0px 0px 0px;
	padding:15px;
	bottom:0px;
	right:0px;
}

.blog1,  .blog3 {
	display:flex;
	flex-direction:row;
	margin:0px 0px 30px 0px;
}
.blog2, .blog4{
	display:flex;
	flex-direction:row;
	flex-direction: row-reverse;
	margin:0px 0px 30px 0px;
}
.blog1 .blogtext, .blog3 .blogtext{
	margin:0px 0px 0px 20px;
}
.blog2 .blogtext, .blog4 .blogtext{
	margin:0px 20px 0px 0px;
	text-align: right
}
.blogtextone{
	color:#F3D400;
	font-size:30px;
	font-weight:900;
}
.blogtexttwo{
	color:#D2D2D2;
	font-size:18px;
	font-weight:400;
	margin:15px 0px 20px 0px;
	line-height:1.4;
}
.blogtextthree{
	color:#aaaaaa;
	font-size:20px;
	font-weight:900;
}

#testimonials{
	background:url(bg_five.jpg) center top;
	height:1400px;

}
.testimonialtop{
	color:#fff;
	font-size:80px;
	font-weight:bold;
	text-align:center;
	margin:60px 0px 50px 0px;
}
.testimonialparent{
	display:flex;
	flex-direction:column;
}
.testrow1, .testrow2{
	display:flex;
	flex-direction:row;
}
.test1:hover, .test2:hover, .test3:hover, .test4:hover, .test5:hover, .test6:hover{
	transform: scale(1.05);
}

.test1, .test2, .test3, .test4, .test5, .test6{
	display:flex;
	flex-direction:column;
	width:320px;
	margin:0px 0px 0px 20px;
}
.test4, .test5, .test6{
	margin:40px 0px 0px 20px;
}

.testtext{
	color:#ffffff;
	background-color:#bada55;
	height:100px;
	font-size:23px;
	font-weight:bold;
	line-height:1.2;
	padding:20px 0px 0px 20px;
}
.testname{
	color:#ffffff;
	background-color:#000000;
	height:30px;
	font-size:17px;
	padding:15px 0px 9px 20px;
}
.test1 .testtext{
	background-color:#2A6BFF;
}
.test2 .testtext{
	background-color:#FF00CF;
}
.test3 .testtext{
	background-color:#5EAA0C;
}
.test4 .testtext{
	background-color:#7C009F;
}
.test5 .testtext{
	background-color:#E00000;
}
.test6 .testtext{
	background-color:#00B58D;
}


#contact{
	background:url(bg_six.jpg) center top;
	height:500px;

}
.contacttop{
	color:#fff;
	margin:110px 0px 0px 20px;
	font-size:20px;
}
.contactus{
	font-size:40px;
	font-weight:bold;
}
